<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />


	<title>Document</title>
</head>

<body>

	<section class="banner d-flex justify-content-center align-items-center">

		<div class="text-center">
			<h1 class="fint-weight-bold">Library Management System</h1>

			<p>Manage books</p>
			<button class="btn bg-primary btn-lg text-white">

				<a th:href="@{/login}" class="btn ">

					Get Started</a></button>
		</div>




	</section>

</body>

</html>